<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Node Application</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <link rel="stylesheet" href="/assets/css/main.css" />
</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin-bottom:1%;">
  <a class="navbar-brand" href="/">Node Application</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <%# <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>%>
        <li class="nav-item text-white">
            <%if (currentUser) {%> Wellcome
              <%= currentUser.username%>!
                <%}%>
        </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item dropdown" style="margin-left:-50%;">
        <a class="nav-link dropdown-toggle " href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Menu
          </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <% if(!currentUser) { %>
            <a class="dropdown-item" href="/login">Login</a>
            <a class="dropdown-item" href="/register">Sign Up</a>
            <% } else { %>
              <a class="dropdown-item" href="/logout">Logout</a>
              <%   }%>
        </div>
      </li>

    </ul>
  </div>
</nav>

<body>
