<% include ../partials/header %>
  <div class="container" style="margin-top:5%">
    <div class="row">
      <div style="width:30%; margin: 0 auto">
        <h4>Comment to <%= campground.name %></h4>
        <form action="/campgrounds/<%=campground._id%>/comments" method="post">
          <div class="form-group">
            <textarea type="text" class="form-control" id="description" name="comment[text]" rows="5" cols="80" placeholder="Say something.. "></textarea>
          </div>
          <button type="submit" class="btn btn-primary btn-block">Submit</button>
        </form>
        <hr>
        <a href="/campgrounds"> Go back</a>
        <br>
        <center>
          <% include ../partials/footer %>
        </center>
      </div>
    </div>
  </div>
