<% include partials/header %>

  <div class="container">
    <header class="jumbotron">
      <h1>Wellcome to Node Application</h1>
      <p>Find the best party on the city!</p>
      <p><a class="btn btn-primary" href="/campgrounds/new"> Add new campground</a></p>
    </header>

    <div class="row">
      <% campgrounds.forEach(function(campground){ %>
        <div class="col-md-4"style="padding:10px">
          <div class="card">
            <img class="card-img-top" src="<%= campground.image %>" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title"><%= campground.name %></h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the cards content.</p>
              <a href="/campgrounds/<%= campground.id %>" class="btn btn-primary">More Info</a>
            </div>
          </div>
        </div>
        <% }); %>
    </div>
  </div>

  <% include partials/footer %>
