<% include partials/header %>
<div class="container">
  <img src="<%= campground.image %>">
  <hr>
  <h1>  <%= campground.name %></h1>
  <p>
  <%= campground.description %>
  </p>
  <a href="/campgrounds"> Back </a>

</div>
<% include partials/footer %>
